:root {
  --dark: #2e2f42;
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f4266;
  --here-background: #2e2f42b2;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
  --white: #fff;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* загальні вимоги до тегів */
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 96px 0;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

ul {
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--dark);
  background-color: var(--white);
}

body.modal-open {
  overflow: hidden;
}
body.no-scroll {
  overflow: hidden;
}

/* скритий h1 на portfolio*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* весь h2 текст на index.html */
.all-two {
  text-align: center;

  color: var(--dark);

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;

  margin-bottom: 72px;
}

/* весь h3 */
.desc-three {
  color: var(--dark);

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;

  margin-bottom: 8px;
}
/* загальні @MEDIA */ /* загальні @MEDIA */ /* загальні @MEDIA */ /* загальні @MEDIA */
/* @media screen and (max-width: 499px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 499px) {
  .container {
    width: 500px;
  }
} */

@media screen and (max-width: 427px) {
  .container {
    width: 100%;
  }
  .section {
    padding: 55px 0;
  }

  .section-c {
    padding-top: 0;
    padding-bottom: 55px;
  }
}

@media screen and (min-width: 428px) and (max-width: 767px) {
  .container {
    width: 430px;
  }
}

@media screen and (min-width: 767px) {
  .container {
    width: 768px;
  }
  .images_section_portfolio {
    padding: 64px 0;
  }
}

@media screen and (min-width: 1439px) {
  .container {
    width: 1158px;
  }

  .section {
    padding: 120px 0;
  }

  .section {
    padding: 120px 0;
  }

  .section-c {
    padding-top: 0;
    padding-bottom: 120px;
  }

  .images_section_portfolio {
    padding: 100px 0;
  }
}

/* Область хедера */

.header {
  box-sizing: border-box;
  border-bottom: 1px solid var(--accent);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* Навігація включаючи логотип */
.header-navigation-section {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}

.web_logo {
  color: var(--dark);
}

/* лінія під навігацією */
.menu-burger-btn {
  display: block;
  margin-left: auto;
  border: none;
  background-color: transparent;
  padding: 8px;
  width: 40px;
  height: 40px;
  z-index: 1;
}

.mobile-menu-open:focus .mobile-menu-icon,
.mobile-menu-open:hover .mobile-menu-icon {
  stroke: var(--pressed-state);
  fill: var(--pressed-state);
}

.menu-burger-btn.is-open {
  position: absolute;
  right: 24px;
  top: 10px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-color: rgba(231, 233, 252, 0.1);
  border: 1px solid rgba(46, 47, 66, 0.1);
  padding: 6px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-burger-btn.is-open:focus .icon-mobile-close,
.menu-burger-btn.is-open:hover .icon-mobile-close {
  border: none;
  background-color: var(--pressed-state);
}

.menu-container {
  background-color: var(--white);
  display: flex;
}

.menu-container.is-open {
  position: static;
  padding: 80px 24px 40px 40px;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

body.no-scroll .btn-up {
  display: none;
}

.nav-list {
  display: flex;
  flex-direction: column;
  margin-right: 121px;
}

.nav-link {
  color: var(--dark);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-items:focus .nav-link-mobile,
.nav-list-items:hover .nav-link-mobile {
  color: var(--pressed-state);
}
.address-list {
  flex-direction: column-reverse;
  gap: 40px;
}
.address-list-items .connect {
  display: inline-block;
  transition: font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--text);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.address-list-items .mobile-menu-phone {
  color: var(--iris, #4d5ae5);
  /* Header 2 */
  font-size: 26px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.menu-container.is-open .mobile-menu-phone {
  font-weight: 700;
}
.menu-container.is-open .connect {
  font-weight: 500;
}
body.no-scroll .logo-container {
  display: none;
}
.social-media-list-mobile {
  flex-wrap: wrap;
  gap: 10px;
}

.mobile-icon-links {
  background-color: var(--primary-brand);
  border-radius: 50%;

  display: flex;
  flex-wrap: wrap;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-social-svg {
  display: flex;
  margin: 8px 8px;
  fill: var(--light);
}

.mobile-icon-links:focus,
.mobile-icon-links:hover {
  background-color: var(--success);
}

.icon-menu-mobile {
  stroke: var(--dark);
}

.menu-burger-btn.is-open .icon-mobile-menu {
  display: none;
}
.icon-mobile-close {
  display: none;
  stroke: none;
  width: 8px;
  height: 8px;
}
.menu-burger-btn.is-open .icon-mobile-close {
  display: flex;
}

/* HEADER @MEDIA */
@media screen and (max-width: 427px) {
  .social-media-list-mobile {
    flex-wrap: wrap;
    gap: 26px;
  }
}
@media screen and (min-width: 427px) and (max-width: 767px) {
  .address-list-items .mobile-menu-phone {
    font-size: 36px;
  }
  .social-media-list-mobile {
    flex-wrap: wrap;
    gap: 56px;
  }
}
@media screen and (min-width: 427px) and (max-width: 767px) {
  .header-container {
    padding: 16px 40px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  body.no-scroll .container {
    padding: 0;
  }

  .address-list,
  .nav-list {
    display: none;
    gap: 40px;
  }
  .social-media-list-mobile {
    display: none;
  }
  .menu-container.is-open .address-list,
  .menu-container.is-open .nav-list,
  .menu-container.is-open .social-media-list-mobile {
    display: flex;
  }
  .header-navigation-address {
    margin-bottom: 48px;
  }

  .nav-list-container {
    margin-bottom: auto;
  }

  .current {
    color: var(--primary-brand);
  }
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 76px;
    margin-left: 0;
  }
  .social-media-list-mobile {
    display: none;
  }

  .address-list,
  .nav-list {
    display: flex;
  }
  .current:after,
  .current:after {
    content: "";
    position: absolute;

    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--pressed-state);
  }

  .menu-container {
    display: flex;
    align-items: center;
  }

  .menu-burger-btn {
    display: none;
  }

  .nav-list {
    flex-direction: row;
  }

  .nav-link {
    position: relative;

    color: var(--dark);

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

    padding: 25px 0;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-navigation-address .connect {
    position: relative;

    color: var(--text);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    font-weight: 400px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-list {
    flex-direction: column;
    gap: 12px;
  }

  .header-container {
    padding: 10px;
    justify-content: space-around;
  }

  .nav-list-container {
    display: flex;
  }
  .adress-container {
    display: flex;
  }
}

.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-state);
}

@media screen and (min-width: 1439px) {
  .logo {
    margin-right: 76px;
  }

  .header-container {
    padding: 0;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
    justify-content: right;
  }

  .address-list-items {
    padding: 12.5px 0;
    flex-direction: row;
    gap: 20px;
  }

  .header-navigation-address .connect {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .header-container {
    padding: 10px;
    margin: 0 auto;
  }
  .nav-list {
    display: flex;
    margin-right: 262px;
    gap: 40px;
  }
}

/* Hero секція */
/* h1 на hiro секції */
.h-hero {
  color: var(--white);
  font-size: 36px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 320px;
}

.hero {
  background-color: var(--dark);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 100%;

  padding-bottom: 112px;
  padding-top: 112px;
  margin: 0 auto;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* кнопка з hero */
.main_button {
  font-family: "Roboto", sans-serif;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;

  border: 1px solid transparent;
  border-radius: 4px;

  background: var(--primary-brand);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  min-width: 169px;
  padding: 16px 32px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main_button:focus,
.main_button:hover {
  background: var(--pressed-state);
  cursor: pointer;
}

/* HERO IMAGE */ /* HERO IMAGE */ /* HERO IMAGE */
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../adaptive-images/office-2.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../adaptive-images/office-1.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../adaptive-images/office-tab-2.jpg);
  }
}

@media screen and (min-width: 1439px) {
  .hero {
    padding: 200px 0;
    height: 600px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../adaptive-images/office-desc-1.jpg);
  }
}

@media screen and (min-width: 1439px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1439px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 1439px) and (min-resolution: 192dpi),
  screen and (min-width: 1439px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../adaptive-images/office-desc-2.jpg);
  }
}

/* Hero section @MEDIA */ /* Hero section @MEDIA */ /* Hero section @MEDIA */

@media screen and (max-width: 767px) {
  .h-hero {
    text-transform: capitalize;
  }
  .hero {
    /* max-width: 428px; */
    max-height: 432px;
  }

  .main_button {
    margin-top: 72px;
  }
}

@media screen and (min-width: 767px) {
  .h-hero {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
  }

  .hero {
    /* max-width: 768px; */
    max-height: 436px;
  }

  .main_button {
    margin-top: 36px;
  }
}

@media screen and (min-width: 1439px) {
  .hero {
    max-width: 1440px;
    max-height: 600px;
    padding-bottom: 188px;
    padding-top: 188px;
  }

  .main_button {
    margin-top: 48px;
  }
}

/* cекція 2 опис та 3 картинки*/

.discription-list-img,
.discription-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.section-c {
  display: none;
}

.description-icons-div {
  background-color: var(--light);
  height: 112px;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 8px;
}

.desc-three {
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.desc-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  max-width: 450px;
}

/* Section 2 @MEDIA */ /* Section 2 @MEDIA */ /* Section 2 @MEDIA */

@media screen and (max-width: 767px) {
  .desc-three {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02;
  }
}
@media screen and (min-width: 767px) {
  .discription-list-img,
  .discription-list {
    flex-direction: row;
    gap: 24px;
    row-gap: 72px;
  }
  .desc-three {
    text-align: start;
  }
  .discription-list-items {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 767px) {
  .discription-list-img,
  .discription-list {
    flex-direction: row;
    gap: 24px;
    row-gap: 72px;
  }
  .desc-three {
    text-align: start;
  }
  .discription-list-items {
    width: calc((100% - 24px) / 2);
  }

  .description-icons-div {
    display: flex;
  }
}

@media screen and (min-width: 1439px) {
  .section-c {
    display: flex;
    flex-wrap: wrap;
  }

  .discription-list-items {
    width: calc((100% - 72px) / 4);
  }

  .discription-list-img-items {
    width: calc((100% - 48px) / 3);
  }
}
/* секція команди */ /* секція команди */ /* секція команди */ /* секція команди */

.team-cards-list {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.team-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 12px;
  fill: var(--light);
}

.team-social-link {
  width: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 100%;
  background-color: var(--primary-brand);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--pressed-state);
}

.social-media-list-team {
  justify-content: center;
  margin: 0 auto;
}

.team_section {
  background-color: var(--light);
}

.team-cards-items {
  text-align: center;

  background: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-cards-items p {
  padding-bottom: 8px;
}

.team-cards-text {
  padding: 32px 0px;
}

.team-names {
  text-align: center;
}

/* team section @media */ /* team section @media */ /* team section @media */

@media screen and (min-width: 767px) {
  .team-cards-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 64px;
  }
}

@media screen and (min-width: 1439px) {
  .team-cards-items {
    max-width: 264px;
    width: calc((100% - 72px) / 4);
  }
}

/* Customers section  */ /* Customers section  */ /* Customers section  */ /* Customers section  */

.customer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customer-links {
  color: var(--subtle-text);
  border: 1px solid var(--subtle-text);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers {
  fill: currentColor;

  min-width: 190px;
  height: 88px;
  padding: 16px 32px;
  justify-content: center;

  transition-property: fill;
  transition-duration: 250ms;
}

.customer-links:hover,
.customer-links:focus {
  border-color: var(--pressed-state);
  color: var(--pressed-state);
}

.customers:hover,
.customers:focus {
  fill: var(--pressed-state);
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  row-gap: 72px;
}

.customers-list-items {
  display: flex;
  width: calc((100% - 16) / 2);
}

/*  Customers @MEDIA*/ /*  Customers @MEDIA*/ /*  Customers @MEDIA*/ /*  Customers @MEDIA*/

@media screen and (max-width: 369px) {
  .customers {
    min-width: 125px;
    height: 58px;
  }

  .customers-list {
    gap: 16px;
    row-gap: 16px;
  }
}
@media screen and (min-width: 370px) and (max-width: 428px) {
  .customers {
    min-width: 160px;
  }

  .customers-list {
    gap: 16px;
    row-gap: 32px;
  }
}

@media screen and (min-width: 428px) {
  .customers {
    min-width: 190px;
  }
}

@media screen and (min-width: 767px) {
  .customer-container {
    width: 650px;
  }
  .customers {
    min-width: 168px;
  }

  .customers-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    row-gap: 72px;
  }

  .customers-list-items {
    position: relative;
    display: flex;
    height: 88px;
  }
}

@media screen and (min-width: 1439px) {
  .customer-container {
    width: 100%;
  }

  .customers-list-items {
    height: 88px;
    width: calc((100% - 120px) / 6);
  }
}
/* футер */ /* футер */ /* футер */ /* футер */ /* футер */ /* футер */
.footer {
  background-color: var(--dark);
  color: var(--light);
  padding: 96px 0;
}

.footer-div {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 72px;
}

.footer-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background);

  max-width: 264px;
  text-align: start;
}

.social-media-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background);
  margin-bottom: 16px;
}

.white_logo {
  color: var(--white-background);
}

.logo-bottom {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 18px;
}

/* social links footer */

.social-media-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.foter-icon-links {
  width: 100%;
  height: 100%;

  background-color: var(--primary-brand);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 8px;
  fill: var(--light);
}

.social-media-list-items {
  transition-property: background-color;
  transition-duration: 250ms;
}

.foter-icon-links:focus,
.foter-icon-links:hover {
  background-color: var(--success);
}

.footer-social {
  fill: var(--modal-background);
}

.subscribe-form-text {
  margin-bottom: 16px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}

.subscribe-input {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(255, 253, 253, 0.3);
  flex-shrink: 0;
  background-color: transparent;
  padding-left: 16px;
  padding-right: 16px;
  color: var(--white);

  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe-input:focus {
  opacity: 1;
}

.subscribe-input::placeholder {
  color: var(--white);
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  opacity: 0.6;
}

.subscribe-input-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.subscribe-input-form-label {
  display: flex;
  gap: 24px;
}

.subscribe-input-button {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 165px;
  padding: 8px 24px;

  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border: none;
  border-radius: 4px;
  background-color: var(--primary-brand);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.subscribe-input-icon {
  fill: var(--white);

  margin-left: 16px;
  opacity: 1;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms linear;
}

.subscribe-input-button:focus,
.subscribe-input-button:hover {
  background-color: var(--pressed-state);
}

.subscribe-input-button:active .subscribe-input-icon {
  transform: translate(500%, -1000%);
  opacity: 0;
  /* fill: var(--primary-brand); */
}
/* Footer @MEDIA */ /* Footer @MEDIA */ /* Footer @MEDIA */ /* Footer @MEDIA */

@media screen and (max-width: 369px) {
  .subscribe-input {
    width: 205px;
  }
}

@media screen and (min-width: 370px) and (max-width: 427px) {
  .subscribe-input {
    width: 300px;
  }
}

@media screen and (max-width: 767px) {
  .footer-div {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .subscribe-input-form {
    flex-direction: column;
  }
}

@media screen and (min-width: 767px) {
  .subscribe-input-button {
    max-width: 165px;
  }
  .footer-div {
    width: 575px;
  }
  .footer {
    padding: 96px 0;
  }
}

@media screen and (min-width: 1439px) {
  .footer {
    padding-left: 0;
  }

  .footer-div {
    flex-wrap: nowrap;
    gap: 0px;
    row-gap: 0px;
    width: 100%;
  }

  .subscribe-form {
    margin-left: 80px;
  }

  .logo-text {
    margin-right: 120px;
  }

  .subscribe-input {
    border: 1px solid var(--white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }

  .subscribe-input::placeholder {
    opacity: 1;
  }
}

/* кнопки з portfolio.html */
.nav-buttons-list {
  display: flex;
  gap: 24px;
}

.nav-buttons {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand);

  background: var(--light);

  border-radius: 4px;
  border: 1px solid var(--accent);

  padding: 8px 16px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-buttons:hover,
.nav-buttons:focus {
  color: var(--white);
  background-color: var(--pressed-state);
  border: 1px solid transparent;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* кнопки з portfolio.html @MEDIA */ /* кнопки з portfolio.html @MEDIA */ /* кнопки з portfolio.html @MEDIA */
@media screen and (max-width: 767px) {
  .nav-buttons-list {
    flex-wrap: wrap;
    margin-bottom: 48px;
    width: 270px;
  }
}

@media screen and (min-width: 767px) {
  .nav-buttons-list {
    justify-content: center;
    margin-bottom: 64px;
  }
  .nav-buttons {
    padding: 12px 24px;
  }
}

@media screen and (min-width: 1439px) {
  .nav-buttons-list {
    margin-bottom: 72px;
  }
}

/* секція з картинками на partfolio.html */
.image-portfolio {
  width: 100%;
  max-width: 396px;
}

.images-block-big-list .overlay {
  position: relative;
  overflow: hidden;
}

.images-block-big-list .overlay-p {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  color: var(--light);
  background-color: var(--primary-brand);
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.images-block-big {
  display: flex;
  row-gap: 48px;
  column-gap: 24px;
}

.images-block-big:not(:last-child) {
  justify-content: center;
}

.images-block-big-list {
  background: var(--white);
}

.images-block-big-link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
}

.images-block-big-link:hover .overlay-p,
.images-block-big-link:focus .overlay-p {
  transform: translateY(0%);
}

.images-block-big-link:focus,
.images-block-big-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: scale(1.05);
}

.images-block-big-text {
  padding: 32px 16px;
  border: 1px solid var(--accent);
  border-top: none;
}

.portfolio-h3 {
  color: var(--dark);

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;

  margin-bottom: 8px;
  text-align: start;
}

.images-block-big-list .overlay {
  max-width: 356px;
  max-height: 300px;
}
/* porfolio-images @MEDIA */ /* porfolio-images @MEDIA */ /* porfolio-images @MEDIA */

@media screen and (max-width: 420px) {
  .portfolio-h3 {
    font-size: 16px;
  }
  .portfolio-small-p {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .images-block-big {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 767px) {
  .images-block-big-list .overlay {
    width: 356px;
    height: 300px;
  }

  .images-block-big {
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 72px;
    column-gap: 24px;
  }
  .images-block-big-list {
    width: calc((100% - 24px) / 2);
  }

  .image-portfolio {
    width: 356px;
    height: 300px;
  }
}

@media screen and (min-width: 1439px) {
  .images-block-big-list .overlay {
    width: 360px;
    height: 300px;
  }

  .images-block-big {
    row-gap: 48px;
  }

  .images-block-big-list {
    width: calc((100% - 48px) / 3);
  }

  .images_section_portfolio {
    padding: 96px 0 120px 0;
  }

  .image-portfolio {
    width: 360px;
    height: 300px;
  }
}

/* Модальне вікно */ /* Модальне вікно */ /* Модальне вікно */ /* Модальне вікно */ /* Модальне вікно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transform: scale(1);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  padding: 40px 16px 16px 16px;

  min-width: 392px;
  min-height: 584px;

  background: var(--modal-background);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-container-text {
  color: var(--dark);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.form-labels {
  display: block;
  color: var(--subtle-text);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.form-labels-input-icons {
  position: relative;
}

.form-inputs {
  width: 100%;
  height: 40px;

  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  background-color: transparent;

  padding-left: 38px;
  padding-right: 12px;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-inputs:focus,
.form-inputs:hover {
  border-color: var(--primary-brand);
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;

  fill: var(--dark);

  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-inputs:focus + .modal-input-icon,
.form-inputs:hover + .modal-input-icon {
  fill: var(--primary-brand);
}

.form-textarea {
  margin-bottom: 16px;
}

.form-textarea-input {
  width: 100%;
  height: 120px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;

  padding: 8px 16px;
  outline: transparent;

  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea-input::placeholder {
  color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
}

.form-textarea-input:focus,
.form-textarea-input:hover {
  border-color: var(--primary-brand);
}

.form-checkbox {
  margin-bottom: 28px;
}

.form-checkbox-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
  fill: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox-input:checked + .form-labels .form-checkbox-span {
  background-color: var(--pressed-state);
  border: none;
  fill: var(--light);
}

.private-policy {
  color: var(--primary-brand);
}

.form-submit-button {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;

  min-width: 169px;
  height: 56px;
  font-weight: 500;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);

  cursor: pointer;

  background-color: var(--primary-brand);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-submit-button:is(:focus, :hover) {
  background-color: var(--pressed-state);
}

.modal-btn {
  position: absolute;
  top: -12px;
  right: -12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--accent);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
}

.modal-button-icon {
  min-height: 36px;
  min-width: 36px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:focus,
.modal-btn:hover {
  background-color: var(--pressed-state);
  border: none;
  fill: var(--white-background);
}

.orientation.landscape-mode {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  overflow: scroll;
  padding: 25px 16px 16px 16px;

  min-width: 600px;
  min-height: 380px;

  background: var(--modal-background);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.orientation.landscape-mode .form-inputs {
  height: 38px;
}

.orientation.landscape-mode .form-textarea-input {
  height: 46px;
}

.orientation.landscape-mode .form-submit-button {
  padding: 8px 16px;
  min-width: 180px;
  height: 40px;
}
.orientation.landscape-mode .modal-container-text {
  margin-bottom: 0px;
}

.orientation.landscape-mode .form-checkbox {
  margin-bottom: 8px;
}

.orientation.landscape-mode .modal-btn {
  top: 16px;
  right: 16px;
}

/* modal @MEDIA */ /* modal @MEDIA */ /* modal @MEDIA */ /* modal @MEDIA */ /* modal @MEDIA */
@media screen and (max-width: 390px) {
  .modal {
    min-width: 310px;
    padding: 32px 24px 24px 24px;
  }
  .private-policy {
    margin-left: 24px;
  }
}

@media screen and (min-width: 400px) {
  .form-textarea {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 428px) and (max-width: 767px) {
  .subscribe-input {
    min-width: 398px;
  }
}
/* @media screen and (min-width: 767px) {
  .modal {
    min-width: 408px;
    padding: 40px 16px 16px 16px;
  }
} */

@media screen and (min-width: 900px) {
  .orientation.landscape-mode {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    overflow: unset;
    padding: 40px 16px 16px 16px;

    min-width: 392px;
    min-height: 584px;

    background: var(--modal-background);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .orientation.landscape-mode .modal-btn {
    top: 35px;
  }

  .orientation.landscape-mode .form-inputs {
    height: 40px;
  }

  .orientation.landscape-mode .form-textarea-input {
    height: 120px;
  }

  .orientation.landscape-mode .form-submit-button {
    padding: 16px 32px;

    min-width: 169px;
    height: 56px;
  }
  .orientation.landscape-mode .modal-container-text {
    margin-bottom: 16px;
  }

  .orientation.landscape-mode .form-checkbox {
    margin-bottom: 28px;
  }

  .orientation.landscape-mode .modal-btn {
    top: -12px;
    right: -12px;
  }
}
.current {
  color: var(--pressed-state);
}

/* ----------------------------------------------
 * Generated by Animista on 2023-8-15 16:2:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */

.puff-in-center {
  -webkit-animation: puff-in-center 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: puff-in-center 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@media screen and (max-width: 440px) {
  @-webkit-keyframes puff-in-center {
    0% {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
      -webkit-filter: blur(4px);
      filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-center {
    0% {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
      -webkit-filter: blur(4px);
      filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }
}

.puff-in-hor {
  -webkit-animation: puff-in-hor 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: puff-in-hor 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-8-15 16:8:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-hor
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-hor {
  0% {
    -webkit-transform: scaleX(2);
    transform: scaleX(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-hor {
  0% {
    -webkit-transform: scaleX(2);
    transform: scaleX(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@media screen and (max-width: 440px) {
  @-webkit-keyframes puff-in-hor {
    0% {
      -webkit-transform: scaleX(1.3);
      transform: scaleX(1.3);
      -webkit-filter: blur(4px);
      filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-hor {
    0% {
      -webkit-transform: scaleX(1.3);
      transform: scaleX(1.3);
      -webkit-filter: blur(4px);
      filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }
}

.slide-in-blurred-right {
  -webkit-animation: slide-in-blurred-right 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-in-blurred-right 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-8-15 18:40:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.slide-in-blurred-left {
  -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-in-blurred-left 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-8-15 18:40:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.scroll-up-svg {
  stroke: var(--dark);
  fill: var(--dark);
  rotate: 180deg;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-up {
  width: 40px;
  height: 40px;
  opacity: 1;
  z-index: 100;
  cursor: pointer;
  background-color: var(--accent);
  background-size: cover;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition-property: opacity, background-color, box-shadow, -webkit-box-shadow, stroke,
    fill;
  transition-duration: 1s;
  display: flex;
  position: fixed;
  bottom: 25px;
  right: 35px;
}
.btn-hidden {
  opacity: 0;
}

html {
  scroll-behavior: smooth;
}

.btn-up:hover {
  background-color: var(--pressed-state);
  border: none;
}

.btn-up:hover svg {
  border: none;
  fill: var(--white-background);
  stroke: var(--white-background);
}
